name: CI
on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'test/**'
      - 'Project.toml'
      - 'Manifest.toml'
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize', 'ready_for_review']
    branches: [ main ]
    paths:
      - 'src/**'
      - 'test/**'
      - 'Project.toml'
      - 'Manifest.toml'

  workflow_dispatch: # Allows running workflow manually from the Actions tab

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: true
      matrix:
          test-modules: ["hodgkinhuxley",
                         "prinzneuron",
                         "simplesynapse",]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@latest
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@latest

      - name: Setup Julia
        uses: julia-actions/setup-julia@latest
        with:
          version: '1.8'

      - name: Cache Julia artifacts and packages
        uses: julia-actions/cache@latest

      - name: Build package
        uses: julia-actions/julia-buildpkg@latest
      
      - name: Run Unit Tests
        env:
          TEST_MODULES: ${{ matrix.test-modules }}
        run: |
          julia --project=@. -e 'using Pkg; Pkg.test(test_args=map(String, split(ENV["TEST_MODULES"], ",")))'
