name: Documentation

on:
  push:
    branches: [ main ]
    tags: '*'
  pull_request:
    paths:
      - 'docs/**'
      - 'tutorials/**'
      - 'src/**'

  workflow_dispatch: # Allows running workflow manually from the Actions tab

jobs:
  docs:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Julia
        uses: julia-actions/setup-julia@latest
        with:
          version: '1.8'

      - name: Install Dependencies
        run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'

      # include this at a later time
      #- run: |
      #    julia --project=docs -e '
      #      using Documenter: DocMeta, doctest
      #      using Conductor
      #      DocMeta.setdocmeta!(Conductor, :DocTestSetup, :(using Conductor); recursive=true)
      #      doctest(Conductor)'

      - name: Build and Deploy Docs
        run: julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          GKSwstype: "100" # https://discourse.julialang.org/t/generation-of-documentation-fails-qt-qpa-xcb-could-not-connect-to-display/60988
